/node_modules
/public/hot
/public/storage
/public/assets/uploads/images/settings/
/public/assets/uploads/images/users/
/public/assets/uploads/settings/
/public/assets/uploads/user/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/assets/uploads/images/settings/
/public/assets/uploads/images/users/

